---
import Layout from "@/layouts/Layout.astro";
import MyPicture from "@/assets/images/my-picture.jpg";
import { Image } from "astro:assets";
import CurrentPlayer from "@/components/currentPlayer.svelte";
---

<Layout title="Yogesh S">
	<main class="p-5 flex flex-col gap-5 font-urbanist text-lg">
		<div class="flex flex-col sm:flex-row items-center gap-10">
			<Image
				height={150}
				width={150}
				class="rounded-full"
				src={MyPicture}
				quality="high"
				loading="eager"
				alt="Myself"
			/>
			<h1 class="font-bold text-5xl sm:text-6xl font-urbanist-italic">
				Hi! I'm Yogesh
			</h1>
		</div>
		<div>
			<p class="prose prose-neutral dark:prose-invert">
				Hey there! I'm Yogesh. I am a frontend developer with serious full-stack capabilities , currently anchoring the core frontend architecture at <a
					target="_blank"
					class="font-bold text-xl underline decoration-sky-400 hover:text-sky-400"
					href="https://www.lucioai.com/">
					Lucio</a
				>. I love building hyper-interactive, resilient web applications , scaling developer tooling , and collaborating with cross-functional teams to transform complex product visions into clean, performant code.
			</p>
		</div>
		<div>
			<h2 class="font-bold cursor-default text-4xl text-red-300 w-fit">
				About Me
			</h2>
			<p>
				My tech journey actually started back in 2021 when I graduated with a degree in Electrical and Electronics Engineering from SRM Valliammai Engineering College. While working with physical circuits was fascinating, I fell hard for the limitless world of software and self-taught myself HTML, CSS, and JavaScript. I quickly traded hardware engineering for frontend ecosystems, and today I focus on building highly optimized build systems , modular UI architectures , and rock-solid, type-safe user experiences.
			</p>
		</div>
		<CurrentPlayer client:load />
	</main>
</Layout>
